<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="provisioningStatus1">
            <h2><span>Provisioning Status 1</span> {{provisioningStatus1.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Pvsid</span></dt>
                <dd>
                    <span>{{provisioningStatus1.pvsid}}</span>
                </dd>
                <dt><span>Serialnumber</span></dt>
                <dd>
                    <span>{{provisioningStatus1.serialnumber}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/provisioning-status-1', provisioningStatus1.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
